<div class="modal modal-slide-in sidebar-todo-modal fade" id="update-modal">
    <div class="modal-dialog sidebar-lg">
        <div class="modal-content p-0">
            <section id="multiple-column-form">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <ng-content></ng-content>
                            <!-- <form class="form">
                                <div class="modal-header align-items-center mb-1">
                                    <div class="form-check form-check-primary form-switch">
                                        <input type="checkbox" checked class="form-check-input" id="customSwitch3" />
                                    </div>
                                    <h5 class="modal-title">Update Task</h5>
                                    <div
                                        class="todo-item-action d-flex align-items-center justify-content-between ms-auto">
                                        <button type="submit" class="btn btn-primary me-1">
                                            <i data-feather="rotate-ccw" class="font-medium-2"></i>
                                            Rotate
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="height: 80vh;">
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <div class="mb-1">
                                                <label class="form-label" for="first-name-column">Id</label>
                                                <input type="text" id="first-name-column" class="form-control"
                                                    placeholder="id" name="fname-column" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="mb-1">
                                                <label class="form-label" for="last-name-column">Key</label>
                                                <input type="text" id="last-name-column" class="form-control"
                                                    placeholder="key" name="lname-column" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="mb-1">
                                                <label class="form-label" for="city-column">Secret</label>
                                                <input type="text" id="city-column" class="form-control"
                                                    placeholder="Secret" name="city-column" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="mb-1">
                                                <label class="form-label" for="country-floating">Private</label>
                                                <input type="text" id="country-floating" class="form-control"
                                                    name="country-floating" placeholder="Private" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="mb-1">
                                                <label class="form-label" for="company-column">App Name</label>
                                                <input type="text" id="company-column" class="form-control"
                                                    name="company-column" placeholder="Name of the app" />
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-12">
                                            <div class="mb-1">
                                                <label class="form-label" for="email-id-column">Description</label>
                                                <textarea class="form-control" row="3" id="exampleFormControlTextarea1"
                                                    placeholder=""></textarea>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary me-1">Submit</button>
                                            <button type="reset" class="btn btn-outline-secondary">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </form> -->
                        </div>
                    </div>
                </div>
                <footer class="footer my-0 py-0 mx-0">
                    <div class="container px-0">
                        <div class="row">
                            <div class="col-10">
                                <label class="form-label">Last Updated: <b>Apr 15, 2022</b></label>
                                <br /><label class="form-label">Created on: <b>Apr 15, 2022</b></label>
                            </div>
                            <div class="col-2 align-items-center pt-0.5">
                                <!-- <i data-feather="delete" class="font-medium-1"></i> -->
                                <a>
                                    Delete
                                </a>
                            </div>
                        </div>
                    </div>
                </footer>
            </section>
        </div>
    </div>
</div>